<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Square SMS Assistant</h1>
        <form method="post">
            <h2>New SMS Assistant Account</h2>
            <br>
            <input type="text" name="name"
                   placeholder="Full name"
                   value="{{ request.form['name'] }}" required></input>
            <br>
            <input type="text" name="phone"
                   placeholder="Phone number (with country code, ie +19876543210)"
                   value="{{ request.form['phone'] }}" required></input>
            <br>
            <input type="email" name="email"
                   placeholder="Valid email"
                   value="{{ request.form['email'] }}" required></input>
            <br>
            <h2>
                Your Square Account Information
            </h2>
            <p class="note">
                NOTE: Prototype version only uses the test Square account
            </p>
            <input type="text" name="sq_username"
            placeholder="Square Email"
            value="{{ request.form['sq_username'] }}" disabled></input>
            <br>
            <input type="password" name="sq_password"
            placeholder="Square Password"
            value="{{ request.form['sq_password'] }}" disabled></input>
            <br>
            <button type="submit">Submit</button>
        </form>
        <img src="{{ url_for('static', filename='ssa_logo.png') }}" alt="Square SMS Assistant" class="logo" width="250px" height="250px">
        {% if user_input %}
            <p>Your input: {{ user_input }}</p>
        {% endif %}
    </div>
</body>
</html>
